/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2e8d8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.page {
    background-color: #f5ebd9;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.page__header {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #e0d4c3;
}

.page__footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #e0d4c3;
}

.page__back-button,
.page__save-button,
.page__footer-button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.page__footer-button .icon {
    margin-right: 5px;
}

.page__content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.page__content {
    position: relative;
}



@media (max-width: 600px) {
    .page {
        max-width: 100%;
    }
}

.page__content {
    position: relative;
}

.image-container {
    position: relative;
}

#canvas {
    cursor: pointer;
    background-color: #f2e8d8;
    width: auto;
    max-width: 400px;
    max-height: 650px;
    height: auto;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
}

#image-preview {
    display: none;
}