<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memcreator</title>
    <link rel="stylesheet" href="static/css/{% block css %}{% endblock %}">
</head>
<body>
<div class="page">
    <header class="page__header">
        {% if not image_url %}
            <h1 class="page__title">@createyourmem_bot</h1>
        {% endif %}
        {% if image_url %}
            <button class="page__back-button">←</button>
            <button class="page__save-button" id="save-button">Сохранить</button>
        {% endif %}

    </header>
    <main class="page__content">
        <div class="image-container">

            {% if image_url %}
                <img id="image-preview" class="image-container__preview" src="{{ image_url }}"
                     alt="Ваше изображение">
                <canvas id="canvas"></canvas>
            {% else %}
                <form method="post" enctype="multipart/form-data">
                    <input type="file" name="file" id="image-input" class="image-container__input" accept="image/*">
                    <button type="submit">Загрузить</button>
                </form>
            {% endif %}
        </div>
    </main>
    {% block content %}
    {% endblock %}
</div>
{% block script %}
{% endblock %}
</main>
</body>
</html>