{% extends 'base.html' %}

{% block css %}STL_imageeditor.css{% endblock %}

{% block content %}
    <footer class="page__footer">
        <button class="page__footer-button">
            <span class="icon">🅰️</span> Текст
        </button>
        <button class="page__footer-button">
            <span class="icon">➕</span> Картинка
        </button>
        <button class="page__footer-button">
            <span class="icon">🔲</span> Демотиватор
        </button>
    </footer>
{% endblock %}

{% block script %}
{% endblock %}
