<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memcreator</title>
    <link rel="stylesheet" href="static/STL_loadpage.css">
</head>
<body>
    <div class="page">
        <main class="page__main">
            <div class="page__title-container">
                <h1 class="page__title">Memcreator</h1>
                <span class="page__subtitle">mini-app</span>
            </div>
        </main>
        <footer class="page__footer">
            <p class="page__team">THE HEDGEHOGS TEAM</p>
        </footer>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            setTimeout(function() {
                window.location.href = "/edit";
            }, 2000); // 3 seconds
        });
    </script>
</body>
</html>
